header {
  box-shadow: 0px 0px 9px 5px rgba(105, 105, 105, 0.64);
}
header h1 {
  color: rgb(192, 192, 192);
  font-size: 3.4rem;
  font-weight: 100;
  letter-spacing: -4px;
  line-height: 90%;
}
header h1 span {
  background-color: #252f40;
  padding: 0.4em;
  font-weight: 700;
  text-transform: uppercase;
  color: white;
}

body {
  background-color: whitesmoke;
}

main {
  background-color: transparent;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  gap: 1em;
}
main .unread #books, main .read #completed-books {
  overflow-x: hidden;
  padding: 0 1em;
}
main section h2 {
  font-size: 2rem;
  font-weight: normal;
}
main section h2::after {
  content: "";
  width: 100%;
  height: 2px;
  background-color: white;
}

label {
  color: #ced0d5;
}